@use '_fonts';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: .8rem;
}

header {
    background-image: url(../Images/image-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
    .h-crew {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 100px;

    }
    h2 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 6.82px;
        color: #FFFFFF;
    }

    .search-bar {
        display: flex;
        align-self: center;
        flex-direction: row;
        justify-content: center;
        max-width: 700px;
        width: 100%;
        height: 63px;
    }
    input:hover {
        background-color: #999999;
        color: #FFFFFF;
    }
    input {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 2.8px;
        color: #999999;
        background-color: white;
        border: 1px solid white;
        transition-duration: 1s;
        flex-wrap: wrap;
    }

    .search-small {
        display: none;
    }

    .search {
        max-width: 400px;
        width: 100%;
        height: 63px;
    }
    .btn-1 {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #5474FD;
        border: 1px solid white;
        max-width: 153px;
        width: 100%;
        height: 68px;
        transition-duration: 1s;
    }

    button:hover {
        background-color: #FFFFFF;
        color: #5474FD;
       }

    .scroll-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .p-1 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 2.8px;
        color: #FFFFFF;
    }
    .fa-chevron-down {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 2.8px;
        color: #FFFFFF;
    }
.nav-bar {
    width:100%; 
    background-color: #5474FD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
    
    h3 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        margin: 1rem;
        line-height: 26px;
        align-self: flex-start;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .navbar-links {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        height: 100%;
        display: flex;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .navbar-links ul {
        margin: 0;
        padding: 0;
        display: flex;
    }

    .navbar-links li {
        list-style: none;
    }

    .navbar-links li a {
        text-decoration: none;
        color: white;
        padding: 1rem;
        display: block;
    }

    .navbar-links li:hover {
        background-color: #0c0770;
    }

    .toggle-btn {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 31px;
        height: 21px;
    }

    .toggle-btn .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

      
.sec-1 {
    background-image: url(../Images/image-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

    .info-group {
        max-width: 560px;
        width: 100%;
        margin: 20px;
        display: flex;
        flex: wrap;
        flex-direction: column;
        justify-content: flex-start;
    }
    

    h4 {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        width: 100%;    
        margin: 20px;
    }
    .p-2 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: 1.6px;
        color: #E8E8E8;
        width: 100%;
        margin: 20px;
    }
    .p-3 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: 1.6px;
        color: #E8E8E8;
        width: 100%;
        margin: 20px;
    }
    .btn-2 {
        max-width: 228px;
        width: 100%;
        height: 63px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #5474FD;
        border: none;
        transition-duration: 1s;
        margin: 20px;
    }


    .img-container-1 {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        padding: 10px;
        max-width: 400px;
        width: 100%;
        height: 490px;
    }
        .display-img-1 {
            max-width: 350px;
            width: 100%;
            height: 220px;
            grid-column-start: 1;
            grid-column-end: 9;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .display-img-2 {
            max-width: 350px;
            width: 100%;
            height: 220px;
            grid-column-start: 2;
            grid-column-end: 10;
            grid-row-start: 2;
            grid-row-end: 3;
        }

.sec-2 {
    background-color: #333333;
    width: 100%;
}

.image-bar {
    width: 100%;
    height: 40vh;
    background-color: #333333;
}

.sec-3 {
    width: 100%;
    height: 70vh;
    background-image: url(../Images/image-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
}

    .box-1 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
        max-width: 543px;
        width: 100%;
        height: 374px;
        background: #232323;
        mix-blend-mode: normal;
        opacity: 0.9;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .p-4 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: 1.5px;
        color: #E8E8E8;
        margin: 20px;
    }
    .p-5 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 20px;
    }
    .p-6 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #E8E8E8;
        margin: 20px;
    }
    .btn-3 {
        max-width: 228px;
        width: 100%;
        height: 63px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #5474FD;
        border: none;
        transition-duration: 1s;
        margin: 20px;
    }
.sec-4 {
    width: 100%;
    height: 70vh;
    background-image: url(../Images/image-6.png);        
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    }

        .box-2 {
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 2;
            grid-row-end: 5;
            max-width: 543px;
            width: 100%;
            height: 374px;
            background: #232323;
            mix-blend-mode: normal;
            opacity: 0.9;
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .p-7 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: 1.5px;
            color: #E8E8E8;
            margin: 20px;
        }
        .p-8 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 20px;
        }
        .p-9 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: center;
            color: #E8E8E8;
            margin: 20px;
        }
        .btn-4 {
            max-width: 228px;
            width: 100%;
            height: 63px;
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: #5474FD;
            border: none;
            transition-duration: 1s;
            margin: 20px;
        }
.sec-5 {
    width: 100%;
    height: 85vh;
    background-image: url(../Images/image-7.png);        
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    h5 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
    }

    .box-3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .text-box {
        width: 100%;
        max-width: 668px;
        height: 287px;
        background-color: #333333;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
     
    .p-10 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FEFEFE;
        width: 100%;
        margin: 20px;
    }
    
    .fa-quote-left {
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 26px;
        display: flex;
        align-self: flex-start;
        color: #5474FD;

    }
    
    .p-11 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px; 
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #E8E8E8;
        max-width: 581px;
        width: 100%;
        height: 100%;
        margin: 20px;
    }
    
     .display-img-3 {
        max-width: 445px;
        width: 100%;
        height: 287px;
    }

footer {
    width: 100%;
    height: 271px;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .p-12 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: 3.36px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .p-13 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1.6px;
        color: #FFFFFF;
    }
    .icon-box {
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        letter-spacing: 5px;
        color: #E8E8E8;
        transition-duration: 1s;
    }
    .icon-link {
        margin: 10px;
    }
    .icon-link:hover {
        color:#5474FD
    }

    @media screen and (max-width: 1038px) {

        .box-3 {
            display: flex;
            justify-content: space-around;
        }

    }

    @media screen and (max-width: 1045px) {

    .info-group {
        max-width: 360px;
        width: 100%;
        height: 600px
    }

    }

    @media screen and (max-width: 1000px) {

        .toggle-btn {
            display: flex;
        }
    
        .navbar-links {
            display: none;
            width: 100%;
        }
    
        .nav-bar {
            flex-direction: column;
            align-items: flex-start;
    
        }
    
        .navbar-links ul {
            flex-direction: column;
            width: 100%;
        }
        
        .navbar-links ul li {
            text-align: center;
        }
    
        .navbar-links ul li a {
            padding: .5rem .5rem;
        }
    
        .navbar-links.active {
            display: flex;
        }

        .sec-5 {
            height: 95vh;
        }


    }

    @media screen and (max-width: 900px) {

        .sec-3 {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .sec-4 {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
    
    @media screen and (max-width: 846px) {

        .sec-1 {
            height: 150vh;
            justify-content: center;
            align-items: center;
        }

        .display-img-1 {
            max-width: 310px;
            width: 100%;
            height: 150;
        }

        .display-img-1 {
            max-width: 310px;
            width: 100%;
            height: 150;
        }

    }

    @media screen and (max-width: 800px){

        .nav-bar {
            max-height: 300px;
        }    

        .sec-5{
            height: 110vh;
        }        

        
    }

    @media screen and (max-width: 730px) {

        .sec-5 {
            height: 150vh;
        }
        
        .text-box {
            min-height: 350px;
        }

    }

    @media screen and (max-width: 650px) {

        .sec-5 {
            height: 170vh;
        }
        
        .text-box {
            min-height: 400px;
        }

    }

    @media screen and (max-width: 630px) {

        .p-11 {
            max-width: 500px;
        }

    }

    @media screen and (max-width: 600px){
        
        .info-group {
            display: flex ;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
        .p-2 {
            max-width: 550px;
            width: 100%;
            height: 100px;
            margin: 20px;
        }
            
        .p-3  {
            max-width: 550px;
            width: 100%;
            height: 100px;
            margin: 20px;
        }  

        .image-bar {
             min-height: 200px;
            height: 100%;
        }
    
        .p-11 {
            max-width: 500px;
        }
    }

    @media screen and (max-width: 550px) {

        .p-11 {
            max-width: 400px;
        }

    }

    @media screen and (max-width: 500px){

        .search {
            font-size: 10px;
        }
    
        .p-2 {
            max-width: 450px;
            width: 100%;
            height: 100px;
            margin: 20px;
        }
            
        .p-3  {
            max-width: 450px;
            width: 100%;
            height: 100px;
            margin: 20px;
        } 

        .display-img-1 {
            grid-column-start: 2;
            grid-column-end: 10;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .display-img-2 {
            grid-column-start: 2;
            grid-column-end: 10;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        
    }

    @media screen and (max-width: 450px) {

        .search {
            font-size: 9px;
            letter-spacing: .8px;
        }

        .p-11 {
            max-width: 300px;
        }

    }

    @media screen and (max-width: 400px){

        h1 {
            font-size: 38px;
        }
        
        h2 {
            font-size: 18px;
        }

        .search {
            font-size: 7px;
            letter-spacing: .5px;
        }

        .image-bar {
            min-height: 60px;
            height: 100%;
        }

        .p-2 {
            max-width: 310px;
            width: 100%;
            height: 100px;
            margin: 20px;}
            
        .p-3  {
            max-width: 310px;
            width: 100%;
            height: 100px;
            margin: 20px;} 

        .btn-2 {
            margin-top: 50px;
        }

        .sec-3 {
            height: 90vh;
        }

        .sec-4 {
            height: 90vh;
        }

        .box-1 {
            height: 400px;
        }

        .box-2 {
            height: 400px;
        }

        h5 {
            font-size: 30px;
        }

        .p-10 {
            font-size: 14px;
        }

        .p-11 {
            max-width: 300px;
            font-size: 13px;
        }
    }

    @media screen and (max-width: 350px) {

        .search {
            font-size: 7px;
            letter-spacing: .1px;
            line-height: 8px;
        }
       
        .btn-3 {
            align-self: center;
        }

        .btn-4 {
            align-self: center;
        }

        .p-11 {
            max-width: 250px;
        }

    }

    @media screen and (max-width: 340px) {
        
        .search {
            font-size: 5px;
            letter-spacing: 0px;
            line-height: 5px;
        }
       
        .sec-3 {
            height: 100vh;
        }

        .sec-4 {
            height: 100vh;
        }

        .box-1 {
            height: 460px;
        }

        .box-2 {
            height: 460px;
        }

        .display-img-3 {
            max-width: 315px;
            width: 100%;
            height: 250px;
        }

    }

    @media screen and (max-width: 337px) {

        
        .search {
            display: none;
        }

        .search-small {
            display: flex;
            font-size: 5px;
            letter-spacing: 0px;
            line-height: 5px;
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            height: 63px;
        }

    }

    @media screen and (max-width: 325px) {

        h4 {
            font-size: 30px;
        }

    }

    @media screen and (max-width: 320px){


        .menu {
            font-size: 12px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .box-1 {
            max-height: 500px;
            height: 100%;
        }

        .box-2 {
            max-height: 500px;
            height: 100%;
        }

        .p-2 {
            font-size: 15px;
            max-width: 300px;
            width: 100%;
            height: 150px;
        }

        .p-3 {
            font-size: 15px;
            max-width: 300px;
            width: 100%;
            height: 150px;
        }

        h5 {
            font-size: 29px;
        }

        .box-3 {
            max-width: 320px;
            width: 100%;
            min-height: 150px;
            height: 100%;
        }

        .display-img-3 {
            max-width: 315px;
            width: 100%;
            height: 250px;
        }

        .text-box {
            height: 600px;
        }

        .p-11 {
            max-width: 200px;
        }
    }